:root{
    --red: #931B21;
    --yellow: #FDD25A;
    --blue: #101434;
}
body{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.menu-search{
    width: 100vw;
    height: 100vh;
    background: var(--red);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

.menu-search.open{
    transform: translateY(0);
}

.menu-search .sm-box-icon{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 10px;
    background-color: #fff;
}

.search-input{
    width: 350px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff!important;
    border-right: none;
}

.search-input::placeholder{
    color: #fff;
}

.search-input:focus{
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #fff;
    color: #fff;
    border-right: none;
}

span.input-group-text{
    background-color: transparent!important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
}
.input-group-text > img{
    width: 20px!important;
    
}
.menu-search .btn-custom{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.text-red{
    color: var(--red);
}
.text-yellow{
    color: var(--yellow);
}
.text-blue{
    color: var(--blue);
}
.custom-border-bottom{
    border-bottom: 2px solid var(--yellow);
}

.btn-custom{
    border: 1px solid var(--red);
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #fff;
    font-weight: bold;
    color: var(--red);
}

header .header-title{
    color: #fff;
    font-size: 80px;
    margin-left: 100px;
    margin-top: 115px;
    font-weight: 900;
    font-family: 'Barlow', sans-serif;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: var(--blue)!important;
}

.person-name{
    font-size: 20px;
    font-weight: bold;
}

.sub-section-title{
    font-size: 18px;
    font-weight: 600;
}


.custom-navbar{
    background-color: transparent;
}
.custom-navbar ul li{
    margin-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.custom-navbar ul li a{
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
}
.custom-navbar ul li.menu{
    border: 1px solid #fff
}

.card-box{
    border: none;
}
header{
    height: 300px;
    background-color: var(--red);
}
.custom-nav .nav-item {
    margin: 20px 60px;
    margin-left: 0;
}

.custom-nav .nav-item .nav-link{
    color: var(--blue);
    background: var(--yellow);
    padding: 0;
    font-weight: bold;
}
.custom-nav .nav-item.active .nav-link{
    color: #fff;
}
.custom-nav .nav-item:hover .nav-link{
    border-bottom: 1px solid black;
}
.know-more-box{
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: var(--yellow);
    font-size: 2.5em;
}
.want{
    border-bottom: 2px solid var(--yellow);
}

footer{
    background: var(--red);
    color: #fff;
    font-size: 0.9em;
}


footer h5{
    font-size: 1.2em;
}
footer i.custom-icon{
    font-size: 2em;
}

footer .icon-lg{
    font-size: 3.5em;
}

img.icon{
    width: 40px;
    margin-right: 5px;
}

img.sm-icon{
    width: 20px;
    margin-right: 5px;
}


.instruction-diagram{
    height: 300px;
    background-color: var(--red);
}

.right-nav li a{
    color: #fff!important;
    font-weight: bold;
}

.right-nav li span{
    transition: all 0.3s;
    opacity: 0.8;
    font-size: 20px;
}

.right-nav li.active span{
    margin-right: 20px;
    opacity: 1;
}